* {
  margin: 0;
  padding: 0;
  background-color: rgb(95, 97, 99);
}

.container {
  /* Primero decimos que la posición será fixed */
  position: fixed;
  /* Finalmente pedimos que nos coloque la altura a mitad de pantalla.*/
  top: 40%;
  left: 40%;
}

.clock {
  /* Estamos afectando a la clase "clock", no al id "clock", por eso este estilo no se aplica sobre la línea 12, que está comentada. */
  text-align: center;
  background-color: rgb(173, 216, 230);
  padding: 30px;
  width: 30vw;
  border-radius: 8px;
  font-size: 60px;
}

.clock:hover {
  /* Estamos afectando a la clase "clock", no al id "clock", por eso este estilo no se aplica sobre la línea 12, que está comentada. */
  text-align: center;
  background-color: rgb(126, 214, 244);
  padding: 30px;
  width: 30vw;
  border-radius: 8px;
  font-size: 50px;
}
